<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css')}}">
    <title>CV</title>
</head>

<body>

    <div class="container">

        <div class="left">

            <div class="cv_img">
                <div class="img_container">
                    <img src="{{ url_for('static', filename='images/img 1.jpeg')}}" alt="My_picture">
                </div>
            </div>

            <div class="side_content">
                <div>
                    <div class="side_header">
                        CONTACT ME
                    </div>
                    <div class="side_text icon">
                        <p><i class="fa-solid fa-phone"></i>+234-9135953860</p>
                        <p><i class="fa-solid fa-envelope-open"></i>favourenyinnaya2002@gmail.com</p>
                        <p><i class="fa-solid fa-link"></i><a href="https://www.linkedin.com/in/Favour-Chidinma/">www favour-chidinma.com</a></p>
                        <p><i class="fa-solid fa-location-dot"></i>164 Ikot Ekpene Road, Uyo</p>
                    </div>
                </div>
            </div>

            <div class="side_content">
                <div>
                    <div class="side_header">
                        EDUCATION
                    </div>
                    <div class="side_text">
                        <p><b>Course studied</b></p>
                        <p class="subtext"><b>University/College Details</b></p>
                        <p class="subtext1">2006 - 2008</p>
                    </div>
                    <div class="side_text">
                        <p><b>Course studied</b></p>
                        <p class="subtext"><b>University/College Details</b></p>
                        <p class="subtext1">2006 - 2008</p>
                    </div>
                    <div class="side_text">
                        <p><b>Course studied</b></p>
                        <p class="subtext"><b>University/College Details</b></p>
                        <p class="subtext1">2006 - 2008</p>
                    </div>
                </div>
            </div>

            <div class="side_content">
                <div>
                    <div class="side_header">
                        SKILLS
                    </div>
                    <div class="side_text">
                        <ul>
                            <li>Data Science</li>
                            <li>CyberSecurity</li>
                            <li>Web Development</li>
                            <li>Mobile App Development</li>
                            <li>Data Analysis</li>
                            <li>Software Development</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="right">

            <div class="head">
                <div class="header">
                    <p>Chidinma</p>
                    <p>Favour</p>
                    <p>Backend Developer</p>
                </div>
            </div>


            <div class="head1">
                <p>WORK EXPERIENCE</p><hr>
            </div>

            <div class="subhead">
                <div>
                    <p>Job Postion here</p>
                    <p>2019 - 2022</p>
                </div>
                <p class="subhead1">Company Name | Location</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit tempora aliquam quam illo, similique, nobis sequi dicta at fuga quasi ab harum pariatur ut hic repellendus officiis odio? Fuga, atque.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, quasi exercitationem dolores maxime quas voluptas doloremque, fugiat neque ab eos pariatur voluptate alias eveniet id ullam obcaecati autem? Quisquam, magnam.
                </p>
            </div>
            <div class="subhead">
                <div>
                    <p>Job Postion here</p>
                    <p>2019 - 2022</p>
                </div>
                <p class="subhead1">Company Name | Location</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit tempora aliquam quam illo, similique, nobis sequi dicta at fuga quasi ab harum pariatur ut hic repellendus officiis odio? Fuga, atque.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, quasi exercitationem dolores maxime quas voluptas doloremque, fugiat neque ab eos pariatur voluptate alias eveniet id ullam obcaecati autem? Quisquam, magnam.
                </p>
            </div>
            <div class="subhead">
                <div>
                    <p>Job Postion here</p>
                    <p>2019 - 2022</p>
                </div>
                <p class="subhead1">Company Name | Location</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit tempora aliquam quam illo, similique, nobis sequi dicta at fuga quasi ab harum pariatur ut hic repellendus officiis odio? Fuga, atque.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, quasi exercitationem dolores maxime quas voluptas doloremque, fugiat neque ab eos pariatur voluptate alias eveniet id ullam obcaecati autem? Quisquam, magnam.
                </p>
            </div>
            <div class="subhead">
                <div>
                    <p>Job Postion here</p>
                    <p>2019 - 2022</p>
                </div>
                <p class="subhead1">Company Name | Location</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit tempora aliquam quam illo, similique, nobis sequi dicta at fuga quasi ab harum pariatur ut hic repellendus officiis odio? Fuga, atque.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, quasi exercitationem dolores maxime quas voluptas doloremque, fugiat neque ab eos pariatur voluptate alias eveniet id ullam obcaecati autem? Quisquam, magnam.
                </p>
            </div>

            <div class="head1 bottom">
                <p>REFRENCES</p><hr>
            </div>


            <div class="reference">
                <div class="ref one">
                    <p>Mr Samuel</p>
                    <p>Aptech / CEO</p>
                    <p>Phone:  <span>+123-456-789</span></p>
                    <p>email:  <span>Aptech@yahoo.com</span></p>
                </div>
                <div class="ref">
                    <p>Favour Chidinma</p>
                    <p>Aptech / CEO</p>
                    <p>Phone:  <span>+123-456-789</span></p>
                    <p>email:  <span>Aptech@yahoo.com</span></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>